*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "RobotoMono";
  src: url("./font/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

.pop-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(20, 15, 10);
}
.pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(80vh, 90%);
  min-height: 40vh;

  background-color: rgba(30, 25, 20);
  border-radius: 10px;
}

.caution {
  color: white;
  font-family: "RobotoMono";
  font-size: 8vh;
  margin: 1rem;
  background-color: red;
}

.text {
  margin: 1rem;
  color: white;
  font-family: "RobotoMono";
  font-size: 2vh;
}
.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.no {
  height: 6vh;
}
.yes {
  height: 6vh;
}
